- content_for(:title) { "#{@partner.name} - Partner" }

%h1= @partner.name

- if @partner.logo_url.present?
  %img{ src: @partner.logo_url, height: '100px' }

- if @partner.address.present? || @partner.url.present?
  %p= partner_address_info(@partner)

- if @partner.contact.present?
  %p Contact #{partner_contact_info(@partner)}

- if @partner.partner_keywords.any?
  %p Keywords #{keywords_for_partner @partner}

- if @partner.summary.present?
  %p= @partner.summary

- if @partner.description.present?
  %h2 Description
  = format_for_content(@partner.description)

- if @upcoming_events.blank? && @previous_events.blank?
  %br
  %h4 (No events found for this partner)

- else
  - if @upcoming_events.present?
    %h2 Events from #{fancy_date_format(@today)}
    .partner-event-list= render_partner_event_by_day_list(@upcoming_events)

  - if @previous_events.any?
    %br
    %br
    %h3= link_to "See #{@previous_events.count} previous events", previous_events_partner_path(@partner)
