%h1 Events on #{@epoch.strftime(EventsHelper::DATE_DAY_FORMAT)}

= render_day_navigator @first_day, @epoch

%p= link_to '<- Show all days', events_path

.events-listing
  %div
    = # %turbo-frame#events-on-day-list
    - @events.each do |event|
      %p #{event.start_date.strftime(EventsHelper::DATE_TIME_FORMAT)} #{link_to(event.name, event_path(event.id))}


