- content_for(:title) { "Events on #{fancy_date_format(@epoch)}" }

%h1 Events on #{fancy_date_format(@epoch)}

= render_day_navigator @first_day, @epoch

%p= link_to '<- Show all days', events_path

.events-listing
  %div
    = # %turbo-frame#events-on-day-list
    - @event_instances.each do |event_instance|
      = link_to_event_instance_with_time_and_partner(event_instance)


