- content_for(:title) { "Events on #{fancy_date_format(@epoch)}" }

%h1 Events on #{fancy_date_format(@epoch)}

= render_day_navigator @first_day, @epoch

%p= link_to '<- Show all days', events_path

.events-listing
  %div
    = # %turbo-frame#events-on-day-list
    - @events.each do |event|
      = link_to_event_with_time_and_partner(event)


